.deport-top {
	padding: 0;
	&__title-wraper {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		width: 100%;
		height: 70vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		position: relative;
		flex-wrap: wrap;
		&::before {
			@include dark-gradient;
			background-image: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.1));
			opacity: .99;
			z-index: 1;
		}
	}
	&__title {
		@include h2-deport;
		display: flex;
		letter-spacing: 3px;
		align-self: flex-end;
		z-index: 50;
		&--center {
			align-self: center;
		}
		&--top {
			align-self: flex-start;
		}
	}
	&__contakt {
		padding: 10px 0 0 0;
		align-self: flex-end;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: #fff;
		font-size: $fz--small;
		z-index: 50;
		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: 0.3;
		}
	}
	&__contakt-list {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;
		list-style: none;
		&:last-child {
			margin-right: 0;
		}
	}
	&__contakt-item {
		margin-bottom: 2px;
		a {
			color: #fff;
			transition: all 0.3s ease;
			font-size: $fz--small;
			transition: color .25s ease;
			&:hover {
				color: $accent2;
				opacity: 1;
			}
			i {
				opacity: 1;
				margin-right: 10px;
				font-size: 12px;
				transition: opacity 0.25s ease;
			}
		}
	}
	&__principal {
		display: flex;
		margin: 0 0 10px 0;
		justify-content: flex-end;
		span {
			align-self: center;
			color: #fff;
		}
	}
	&__contakt-photo {
		align-self: center;
		width: 90px;
		height: 90px;
		background-color: #fff;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		margin-right: 15px;
	}
}