.s-deport-hotphone {
	&__wraper {
		padding: 0 20px;
		justify-content: center;
	}

	&__item {
		display: flex;
		align-items: center;
		
		&--a {
			@include link;
			&:hover {
				text-decoration: none;
			}
		}
	
	}

	&__img {
		width: 150px;
		margin-right: 10px;
		img {
		width: 100%;
		}
		&--vk {
			width: 140px;
			margin-right: 20px;
		}
	}

	&__info {
		p {
			font-size: $fz--xxsmall;
			line-height: 1.5;
		}
		span {
			text-transform: uppercase;
			font-weight:$bold;
			font-size: $fz--small;
		}
		
		
	}
	&__link {
		@include link;
		border: 1px solid $accent;
		padding:  8px 15px;
		font-size: $fz--base;
		&:hover {
			text-decoration: none;
		}
	}
	
}