.s-deport-container {
	&__wraper {
		padding: 0 40px;
		width: 80%;
		margin: 0 auto;
		ul,
		ol {
			margin: 0 0 0 0;
			padding: 5px 15px 15px 25px;
			li {
				font-size: $fz--xxsmall;
			}
		}
	}

	.section-title-wraper {
		display: flex;
		justify-content: center;
		margin-bottom: 0;
		&--tabs {
			display: block;
		}
	}
	
	&__title-min {
		font-size: $fz--small;
		text-transform: uppercase;
		font-weight: $bold;
		
	}
}

.s-info-materials--deport {
	.section-title-wraper {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}
}

.deport-btn-news-wraper {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	margin-top: 50px;
}

.deport-organisation {
	&__item {
		display: flex;
		padding: 20px 30px;
		background-color: #d1d11d;
		position: relative;
		z-index: 1;
		&::after,
		&::before {
			content: "";
			z-index: -1;
			position: absolute;
			
			width: 60px;
			height: 100%;
			background-color: $accent2;
			
		}
		&::before {
			top: -7px;
			left: -45px;
			transform: rotate(20deg);
		}

		&::after {
		top: -7px;
		right: -45px;
		transform: rotate(-20deg);
	}
}

}

.s-deport-container {
	
	&__principal {
		font-size: $fz--base;
		padding-left: 160px;
	}
	&__contakt {
		a {
			color: $text;
			border: 1px solid $accent;
			padding: 5px 10px;
			i {
				font-size: 13px;
				margin-right: 5px;
			
			}
		}
	}

	&__list-title {
		text-transform: uppercase;
	}	
}

