.s-deport-function {

	&__wraper {
		padding: 0 40px;
		width: 80%;
		margin: 0 auto;
	}

	&__title {
		@include h2;
		display: inline-block;
		margin-bottom: 0;
	}
	&__title-min {
		text-transform: uppercase;
		font-weight: $bold;
	}

	&__list {
		margin: 0 0 0 0;
		padding: 15px 15px 15px 25px;
	}

	&__item {
		font-size: $fz--xxsmall;
	}
};