.s-deport-hotphone {
	&__wraper {
		padding: 0 20px;
		justify-content: center;
	}

	&__item {
		display: flex;
		align-items: center;
	
		&--gigiena {
			align-items: flex-end;
		}
			
		&--a {		
			&:hover {
				text-decoration: none;
			}
		}

		&--vk {	
			color: $text;	
			.s-deport-hotphone__info {
				margin-top: 20px;
			}
			&:hover,
			&:focus {
				span {
					text-decoration: underline;
					color: $text;	
				}
				em {
					color: $text;	
				}
			}
		}
	
	}

	&__img {
		width: 150px;
		margin-right: 10px;
		img {
		width: 80%;
		}
		&--vk {
			width: 140px;
			margin-right: 20px;
		}
	}

	&__info {
		p {
			font-size: $fz--xxsmall;
			line-height: 1.5;
		}
		span {
			text-transform: uppercase;
			font-weight:$bold;
			font-size: $fz--small;
		}
	}
	
	&__link {		
		border: 1px solid $accent;
		padding:  8px 15px;
		font-size: $fz--base;
	
		&:hover {
			text-decoration: none;
			background-color: rgba($accent, .9);
			color: #fff;			
		}
	}
}