.s-accordion {

&__title {
	margin: 50px 0 20px;
	font-weight: 100;
}

&__all {
	text-align: center;

	input[type="checkbox"] {
		display: none;

		&:checked + label {
			background-color: $accent;
			color: white;

			&:before {
				content: 'Close All';
			}
		}
	}

	label {
		position: relative;
		margin: 0;
		padding: 5px 30px;
		font-size: $fz--small;
		font-weight: $bold;
		color: $text;
		background-color: white;
		border: 1px solid $accent;
		border-radius: 99px;
				
		&:before {
			content: 'Открыть все';
		}
	}
}

.s-accordion__accordion {
	position: relative;
	width: 100%;
	margin: 10px auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);

	.s-accordion__trigger {

		#checkbox-1,
		#checkbox-2,
		#checkbox-3,
		#checkbox-4,
		#checkbox-5,
		#checkbox-6 {
			display: none;

			&:checked + label {
				background-color: slategray;

				i {

					&:before {
						transform: translate(3px,8px) rotate(45deg);
					}

					&:after {
						transform: translate(-5px,8px) rotate(-45deg);
					}				
				}
			}
		}

		.s-accordion__checkbox {
			position: relative;
			display: block;
			width: 100%;
			margin: 0;
			padding: 8px 50px 5px 20px;
			color: white;
			cursor: pointer;
			background-color: darken(slategray,10%);
			line-height: 1.3;
			font-size: $fz--small;
			transition: all .3s ease;
			&:hover {
				background-color: darken(slategray,20%);
			}
			&:active {
				background-color: lighten(slategray,10%);
			}

			i {
				position: absolute;
				display: inline-block;
				width: 20px;
				height: 20px;
				right: 20px;
				//float: right;

				&:before,
				&:after {
					position: absolute;
					content: '';
					width: 14px;
					height: 3px;
					background-color: white;
					transition: transform 250ms ease;
				}

				&:before {
					transform: translate(-3px,8px) rotate(45deg);
				}

				&:after {
					transform: translate(5px,8px) rotate(-45deg);
				}
			}
		}

		.s-accordion__content {
			position: relative;
			max-height: 1px;
			padding: 0;
			overflow-y: scroll;
			font-size: $fz--xxsmall;
			line-height: 1.4;
			background-color: whitesmoke;
			transition: max-height 500ms ease-in-out;

			&__content-wraper {
				padding: 10px 20px;
			}

			h3 {
				margin: 30px 0 15px 30px;
			}

			p {
				margin: 0 30px 30px;
			}
		}
		.s-accordion__content-wraper {
			padding: 20px;
		}
	}
}

#checkbox-1:checked ~ .s-accordion__content,
#checkbox-2:checked ~ .s-accordion__content,
#checkbox-3:checked ~ .s-accordion__content,
#checkbox-4:checked ~ .s-accordion__content,
#checkbox-5:checked ~ .s-accordion__content,
#checkbox-6:checked ~ .s-accordion__content {
	max-height: 350px;
	transition: max-height 500ms ease-in-out;
}
}