.s-deport-container__wraper--tabs { 
	width: 100%;
	
*, *:before, *:after {
  box-sizing: border-box;
}

article {
  display: none;
  padding: 20px 0 0;
	border-top: 1px solid #ddd;
	position: relative;
	:last-child {
		margin-bottom: 0;
	}
}

input {
  display: none;
}

label {
	font-size: $fz--small;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: $bold;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
	font-family: "FA";
	font-size: 12px;
  font-weight: normal;
  margin-right: 10px;
}

// label[for*='1']:before { content: '\f188'; }
// label[for*='2']:before { content: '\f132'; }
// label[for*='3']:before { content: '\f0a3'; }
// label[for*='4']:before { content: '\f132'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid $accent;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10 {
  display: block;
}
}


// ≤768px
@include media-breakpoint-down(md) {
	.s-deport-container__wraper--tabs {
		margin-top: 20px;

	label {
		font-size: $fz--xxsmall;
	}
	}
}

// ≤576px
@include media-breakpoint-down(sm) {
	.s-deport-container__wraper--tabs {
		margin-top: 20px;
  label {
		font-size: $fz--xxsmall;
		padding: 10px;
  }
  label:before {
    margin: 0;
    font-size: 10px;
	}
	}
}

// ≥576px
@include media-breakpoint-down(xs) {
	.s-deport-container__wraper--tabs {
		margin-top: 10px;
  label {
		font-size: $fz--xxsmall;
		padding: 10px;
  }
 }
}
