
.s-deport-container__wraper--tabs { 
	position: relative;
	padding: 0 40px;
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

section {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

article {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
	font-size: $fz--small;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: $bold;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
	font-family: "FA";
	font-size: 12px;
  font-weight: normal;
  margin-right: 10px;
}

// label[for*='1']:before { content: '\f188'; }
// label[for*='2']:before { content: '\f132'; }
// label[for*='3']:before { content: '\f0a3'; }
// label[for*='4']:before { content: '\f132'; }

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid $accent;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
}