.container-table {
 
  font-family: $default-font, sans-serif;
 	line-height: 1.2;
	margin: 20px auto;
  border-collapse: collapse;
  font-weight: $normal; 
	background:darken(#5a6773, 10%);
	color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px; 


 thead th { 
	font-weight: 600; 
}
 thead th, 
 tbody td { 
	padding: 0.8rem 2rem; 
	font-size: $fz--base;
	text-align: center;
}


 tbody td { 
	padding: 1rem 2rem; 
	font-size: $fz--small;
	color: rgb(90, 103, 115);
	text-align: center;
	}

	 tbody td a i {
		font-size: 0.8rem;
		padding: 0.4rem 0.6rem;
		color: rgb(90, 103, 115);
		margin-right: 0;
	}

	 tbody td .link-open i,
	 tbody td .link-download i{
		font-size: 1.6rem;
	}

	 tbody td a {
		color: rgb(90, 103, 115);
		transition: color 0.35s ease;
		&:hover {
			color: $accent;
			text-decoration: none;
		}
	}

	 tbody td a .fa-file-pdf,
	 tbody td a .fa-file-word {
		&:hover {
			color: $accent;
		}
	}

 tbody .td-first,
 thead .td-first {
	text-align:left;
	padding-left: 0.7rem;
		}

 tbody tr:nth-child(odd) {
  background-color: #eee;
}

 tbody tr:nth-child(even) {
  background-color: #fcfcfc
}

 tbody tr {
	transition: all .3s ease;
	&:hover {
		background-color: lighten($accent, 60%);
	
	}
}

 tbody tr:not(:last-child) { 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}
}



@include media-breakpoint-down(sm)  {
	.container-table {
	 thead	{ 
		display: none; 
	}
	 thead th {
		font-size: $fz--small;
	}
   tbody td { 
		display: block; 
		padding: .6rem; 
		font-size: $fz--xxsmall;
  }
   tbody tr td:first-child { 
    background: rgb(90, 103, 115); color: #fff; 
  }
	 tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 6rem;  
	}
	 tbody tr {
		&:hover {
			background-color: #fcfcfc;
		
		}
	}
}
}




