@import "_vars";
@import "_mixins/h";
/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.section-title-wraper {
		.btn-link {
			font-size: $fz--min;
			margin-right: -5px;
		}
	}
	/*==========  HEADER  ==========*/
	.site-header {
		&__name {
		.h1_index {
			padding: 8px 10px 0 0;
		}
	}
		&__info {
			font-size: 13px;
			padding: 12px 10px 12px 20px;
		}
	}
	.sf-menu {
		font-size: $fz--small;
	}
	.sf-menu>li>a {
		padding: 12px 15px;
	}
	.top-line ul,
	.top-line li {
		margin-bottom: -3px;
		border-bottom: transparent;
	}
	.fa-map-marker,
	.fa-comments,
	.fa-clock {
		font-size: $fz--base;
	}
	/*==========  header end  ==========*/
	/*==========  MY-CONTENT  ==========*/
	// TOP-INFO-----------------
	.console {
		flex-direction: column;
		&__item {
			padding-left: 62px;
			padding-right: 7px;
		}
		&__name {
			font-size: $fz--xsmall;
		}
	}
	.swiper-container {
		height: 440px;
		.content {
			top: 10%;
			width: 100%;
			height: 80%;
			padding-right: 12%;
			padding-left: 12%;
			.title {
				margin-bottom: 30px;
				font-size: $fz--xlarge;
			}
			.caption {
				font-size: $fz--base;
				line-height: 1.4;
			}
			.swiper-slide-btn {
				font-size: $fz--small;
			}
		}
	} // TOP-INFO END-----------------//
	// S-SERVICES-----------------
	.s-services {
		.carousel-services {
			&__title {
				font-size: $fz--base;
				span {
					font-size: $fz--medium;
				}
			}
			&__list {
				li {
					font-size: $fz--small;
					padding: 2px;
				}
			}
			&__btn {
				font-size: $fz--xsmall;
				margin-top: -5px;
			}
		}
	} // S-SERVICES END-----------------
	// S-INFO-MATERIALS-----------------
	.info-materials {
		.owl-nav {
			>button {
				&.owl-prev {
					left: -15px;
				}
				&.owl-next {
					right: -15px;
				}
			}
		}
	} // S-INFO-MATERIALS-----------------end
	// S-PARTNERS-----------------
	.partners {
		.owl-nav {
			>button {
				&.owl-prev {
					left: -15px;
				}
				&.owl-next {
					right: -15px;
				}
			}
		}
	} // S-PARTNERS-----------------end
	/*==========  MY-CONTENT END ==========*/
	/*==========  MY-FOOTER  ==========*/
	.main-footer {
		&__item {
			&--line {
				padding-bottom: 2px;
				margin-bottom: 1px;
			}
			&--part {
				margin-bottom: 1px;
			}
		}
		&__map {
			margin-top: 15px;
		}
	}
	/*==========  MY-FOOTER END ==========*/
}

// ≥992px
@include media-breakpoint-down(md) {
	section {	
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
	}
	.section-wraper {
		padding: 30px 30px;
	}
	.section-title-wraper {
		margin-bottom: 10px;
		.section-title {
			margin-right: 0;			
		}
		.btn-link {
			padding: 5px 20px 10px 20px;
			margin-right: -10px;
			font-size: $fz--xmin;
		}
	}

	.hide {
		display: none;
	}
	/*==========  HEADER  ==========*/
	.site-header {
		&__top {
			min-height: 170px;
			position: relative;
		}
		&__wraper {
			padding-top: 0;
			padding-bottom: 15px;
		}
		&__left {
			order: 5;
			margin-top: -10px;
			padding-right: 60px;
		}
		&__right {
			align-items: flex-start;
			justify-content: flex-end;
			order: 1;
		}
		&__logo {
			width: 75px;
		}
		&__name {
			.h1_index {
			font-size: $fz--xmedium;
			padding: 8px 5px 0 0;
		}
	}
		&__name span {
			font-size: $fz--small;
			display: flex;
			margin-top: -5px;
		}
		&__world {
			width: 26px;
			height: 14px;
			margin-right: 5px;
		}
		&__bottom {
			padding-left: 20px;
			align-items: center;
		}
		&__info {
			font-size: $fz--xsmall;
			padding: 12px 0 12px 18px;
		}
	}
	.fa-eye {
		margin-top: 5px;
		font-size: $fz--medium;
	}
	.fa-map-marker,
	.fa-comments,
	.fa-clock {
		font-size: $fz--small;
		left: -7px;
	}
	.fa-map-marker {
		left: -2px;
	}
	/*==========  header end  ==========*/
	/*==========  MY-CONTENT  ==========*/
	// TOP-INFO-----------------
	.section-title {
		font-size: $fz--xbase;
	}
	.console {
		flex-direction: row;
		&__item {
			padding-left: 70px;
			padding-right: 15px;
		}
	}
	.bigslider {
		margin-top: 20px;
	}
	.swiper-container {
		height: 350px;
		.content {
			top: 10%;
			width: 100%;
			height: 80%;
			padding-right: 10%;
			padding-left: 10%;
			.title {
				margin-bottom: 25px;
				font-size: $fz--xlarge;
			}
			.caption {
				font-size: $fz--xbase;
				line-height: 1.4;
			}
			.swiper-slide-btn {
				font-size: $fz--xsmall;
			}
		}
	} // TOP-INFO END-----------------//
	// S-NEWS---------------------//
	.s-news {
		.card {
			&__info {
				padding: 8px;
			}
			&__title {
				padding-top: 5px;
				font-size: $fz--small;
			}
			&__title--big {
				padding-right: 10px;
				padding-top: 8px;
				font-size: $fz--xbase;
			}
			&__text {
				font-size: $fz--xxsmall;
			}
			&__data {
				&--big {
					font-size: $fz--xsmall;
					margin-top: 5px;
				}
			}
		}
	} // S-NEWS END---------------------
	// S-SERVICES-----------------
	.s-services {
		.carousel-services {
			&__content {
				padding: 7%;
			}
			&__title {
				font-size: $fz--small;
				span {
					font-size: $fz--xbase;
				}
			}
			&__btn {
				font-size: $fz--xsmall;
			}
			&__list {
				li {
					font-size: $fz--xxsmall;
				}
			}
		}
	} // S-SERVICES END-----
	// S-REGION---------------
	.s-region {
		.region__legend {
			margin-top: -50px;
		}
		.region__title {
			font-size: $fz--xbase;
			margin-bottom: 20px;
		}
		.region__info {
			padding: 20px 20px 10px 20px;
		}
		.region__legend-title {
			font-size: $fz--small;
			margin-bottom: 25px;
		}
		.region__legend__item {
			padding: 2px 0;
			a {
				font-size: $fz--xxsmall;
			}
			span {
				font-size: $fz--xxsmall;
			}
			i {
				margin-right: 6px;
				font-size: 10px;
			}
		}
		.region__map-png {
			width: 350px;
		}
	} // S-REGION---------------END
	/*==========  MY-CONTENT END ==========*/
	/*==========  MY-FOOTER  ==========*/
	.main-footer {
		&__item {
			&--line {
				padding-bottom: 3px;
				margin-bottom: 3px;
			}
		}
		&__map {
			margin-top: 14px;
		}
	}
	/*==========  MY-FOOTER END ==========*/
	/*==========  S-DEPORT  ==========*/
	.deport-top {
		&__contakt {
			font-size: $fz--xxsmall;
		}
		&__contakt-item {
			a {
				font-size: $fz--xxsmall;
			}
		}
		&__contakt-photo {
			width: 70px;
			height: 70px;
			margin-right: 8px;
		}
	}
	.s-deport-container {
		margin-top: 30px;
		margin-bottom: 30px;
		&__wraper {
			width: 100%;		
		}
			&__map {
			max-height: 250px;
		}
	}
	.s-deport-hotphone {
		&__wraper {
			padding: 0;
		}
	
		&__item:last-child {
				margin-bottom: 0;
			}
		
		&__img {
		
			&--green {
				width: 35%;
			}
		}
		&__info {
			margin-bottom: 20px;
			p {
				font-size: $fz--xsmall;
			}
			span {
				font-size: $fz--xxsmall;
			}
			
		}
		&__link {
			padding: 5px 10px;
			font-size: $fz--small;
		}
		}
	/*==========  S-DEPORT END ==========*/
}

// ≥768px
@include media-breakpoint-down(sm) {
	.section-title-wraper {
		.section-title {			
			padding: 7px 10px;
		}
	}

	.breadcrumb-item {
		font-size: 12px;
	}


	/*==========  HEADER  ==========*/
	.site-header {
		&__top {
			min-height: 140px;
		}
		&__left {
			padding-right: 0;
		}
		&__logo {
			width: 55px;
		}
		&__name {
			.h1_index {
				font-size: $fz--medium;
				padding-right: 20px;
			}
				}
		&__name span {
			font-size: $fz--xsmall;
		}
		&__world {
			width: 20px;
			height: 10px;
		}
		&__info {
			font-size: $fz--xsmall;
			padding: 5px 5px 5px 20px;
		}
		&__bottom {
			padding: 5px 0 5px 20px;
		}
	}
	.fa-eye {
		margin-top: 7px;
		font-size: $fz--base;
	}
	.fa-map-marker {
		left: -4px;
	}
	/*==========  header end  ==========*/
	/*==========  MY-CONTENT  ==========*/
	.section-title {
		font-size: $fz--xbase;
		text-align: center;
	
	} // TOP-INFO-----------------
	.console {
		&__item {
			padding-left: 80px;
			padding-right: 7px;
		}
	}
	.swiper-container {
		width: 78%;
		height: 280px;
	}
	.swiper-slide .content {
		.title {
			font-size: $fz--xmedium;
		}
		.caption {
			font-size: $fz--small;
		}
		.title--min {
			font-size: $fz--xsmall;
		}
	}
	.swiper-slide-btn {
		font-size: $fz--xsmall;
		padding: 8px 15px;
	}
	.swiper-container {
		height: 300px;
		.content {
			top: 10%;
			width: 100%;
			height: 80%;
			padding-right: 12%;
			padding-left: 12%;
			.title {
				margin-bottom: 18px;
				font-size: $fz--xmedium;
			}
			.caption {
				font-size: $fz--small;
				line-height: 1.25;
			}
		}
	} // TOP-INFO END-----------------//
	// S-NEWS-------------------------
	.s-news {
		.s-news-wraper {
			padding-bottom: 10px;
		}
		.card {
			&--big {
				margin-bottom: 20px;
			}
			&__data {
				margin-top: 5px;
				width: 100%;
				font-size: $fz--xmin;
			}
			&__id {
				font-size: $fz--xmin;
			}
		}
	} // S-NEWS END-------------------------
	// S-SERVICES-----------------
	.carousel-services {
		&__content {
			padding: 6%;
		}
		&__title {
			font-size: $fz--small;
			span {
				display: block;
				@include h3;
			}
		}
		&__list {
			li {
				font-size: $fz--xxsmall;
				padding: 2px;
			}
		}
		&__btn {
			font-size: $fz--xsmall;
			margin-top: -5px;
		}
	} // S-SERVICES ----------------END-
	// S-PARTNERS
	.s-parters {
		margin-bottom: 20px;
		padding-bottom: 30px;
		padding-top: 0;
	} // S-PARTNERS ------------END-
	// S-INFO-MATERIALS
	.s-info-materials {
		.info-materials {
			.info-material {
				&__title {
					font-size: $fz--xxsmall;
					margin-top: 10px;
					margin-bottom: 3px;
				}
				&__img {
					img {
						width: 80px;
						height: 80px;
					}
				}
			}
		}
	} // S-INFO-MATERIALS ------------END-
	// S-REGION---------------
	.s-region {
		position: relative;
		.region__legend {
			position: absolute;
			top: 10px;
			left: 0;
			margin-top: 0;
		}
		.region__title {
			display: none; // font-size: $fz--base;
			// padding: 7px 10px;
			// margin-bottom: 20px;
		}
		.region__info {
			width: 55%;
			padding: 10px 10px 0 10px;
			border: none;
		}
		.region__legend-title {
			font-size: $fz--xxsmall;
			margin-bottom: 10px;
			&::before {
				bottom: -10px;
			}
		}
		.region__legend__item {
			padding: 0;
			a {
				font-size: $fz--xsmall;
				line-height: 1.1;
			}
			span {
				font-size: $fz--xsmall;
				line-height: 1.1;
			}
			i {
				margin-right: 3px;
				font-size: 8px;
			}
		}
		.region__map {
			margin-left: 100px;
			margin-top: 20px;
		}
		.region__map-png {
			width: 350px;
		}
	} // S-REGION---------------END
	/*==========  MY-CONTENT END ==========*/
	/*==========  MAIN-FOOTER  ==========*/
	.main-footer {
		&__wrapper {
			padding: 15px;
		}
		&__title {
			font-size: $fz--small;
		}
		&__item {
			font-size: $fz--min;
		}
		&__copyright {
			font-size: $fz--min;
		}
	}
	/*==========  MAIN-FOOTER END ==========*/
	/*==========  S-DEPORT  ==========*/
	.deport-top {
		&__title-wraper {
			height: 60vh;
		}
		&__title {
			font-size: $fz--xlarge;
		}
		&__contakt {
			font-size: $fz--xxsmall;
		}
		&__contakt-item {
			a {
				font-size: $fz--xxsmall;
			}
		}
		&__contakt-photo {
			width: 70px;
			height: 70px;
			margin-right: 12px;
		}
	}
	.s-deport-container {

		&__services-card-title {
			font-size: $fz--medium;
		}

		&__services-card-bg {
			min-height: 150px;
		}
	
		&__wraper {
			padding: 30px 30px;
			p,
			a,
			i {
				font-size: $fz--xxsmall;
			}
			
			ul,
			ol {
			margin: 0 0 0 0;
			padding: 5px 10px 10px 15px;
			li {
				font-size: $fz--xxsmall;
			}
		}
		}
	}
	.s-deport-hotphone {
		&__item {
			align-items: flex-start;
			flex-wrap: wrap;
			&:last-child {
				margin-bottom: 0;
			}
			}
		&__img {
			display: none;
		}
		&__info {
			margin-bottom: 25px;
			p {
				font-size: $fz--xxsmall;
				line-height: 1.5;
			}
			span {
				text-transform: uppercase;
				font-weight:$bold;
				font-size: $fz--small;
			}		
		}
	}
	.s-accordion {
		&__all {
			label {
				font-size: $fz--xsmall;
				padding: 3px 20px;
			}
		}
		.s-accordion__accordion {
			.s-accordion__trigger {
				.s-accordion__checkbox {
					font-size: $fz--xxsmall;
					i {
						&:before,
						&:after {
							height: 2px;
						}
						&:before {
							transform: translate(-4px, 8px) rotate(45deg);
						}
					}
				}
			}
		}
	}
	.deport-btn-news-wraper {
		margin-bottom: 30px;
		margin-top: 30px;
		>.btn-bigslider {
			font-size: $fz--xxsmall;
		}
	}
	/*==========  S-DEPORT END ==========*/
}

// ≥576px
@include media-breakpoint-down(xs) {
	/*==========  HEADER  ==========*/
	.site-header {
		&__top {
			min-height: 140px;
		}
		&__logo {
			width: 50px;
		}
		&__name  {
			.h1_index {
				font-size: $fz--base;
				padding-right: 20px;
			}
		
		}
		&__bottom {
			padding-left: 20px;
		}
		&__info {
			font-size: $fz--xsmall;
			padding: 5px 10px 5px 15px;
		}
	}
	.fa-map-marker {
		left: -3px;
		top: 5px;
	}
	.fa-comments {
		left: -7px;
		top: 5px;
	}
	/*==========  header end  ==========*/
	/*==========  MY-CONTENT  ==========*/
	// TOP-INFO-----------------
	.console {
		flex-direction: column;
		&__item {
			padding-left: 40px;
			padding-right: 15px;
			display: flex;
			justify-content: flex-end;
			text-align: right;
			min-height: 60px;
			margin: 5px auto; 
			width: 80%;
			}
		&__name {
			text-shadow: #000 1px 1px 1px;
			br {
				display: none;
			}
		}
	}
	.swiper-container {
		height: 250px;
		.content {
			top: 10%;
			width: 100%;
			height: 80%;
			padding-right: 18%;
			padding-left: 18%;
			.title {
				margin-bottom: 15px;
				font-size: $fz--medium;
			}
			.caption {
				font-size: $fz--xxsmall;
				line-height: 1.2;
			}
		}
	}
	.s-news {
		.cards-news {
			justify-content: center;
		}
		.card {
			&__text {
				display: none;
			}
		}
	} // S-NEWS END
	// S-INFO-MATERIALS-----------------
	.info-materials {
		.owl-nav {
			>button {
				&.owl-prev {
					left: 15px;
				}
				&.owl-next {
					right: 15px;
				}
			}
		}
	} // S-INFO-MATERIALS-----------------end
	// S-PARTNERS-----------------
	.partners {
		.owl-nav {
			>button {
				&.owl-prev {
					left: 15px;
				}
				&.owl-next {
					right: 15px;
				}
			}
		}
	} // S-PARTNERS-----------------end
	// S-REGION---------------
	.s-region {
		.region__info {
			width: 100%;
			padding: 10px 10px 0 10px;
			border: none;
			position: relative;
			z-index: 1;
		}
		.region__map {
			margin-left: 0;
			margin-top: 180px;
			position: relative;
			z-index: 99;
		}
		.region__map-png {
			width: 250px;
		}
	} // S-REGION---------------END
	/*==========  MY-CONTENT END ==========*/
		/*==========  S-DEPORT  ==========*/
		.deport-top {
			&__title-wraper {
				height: 70vh;
			}
			&__title {
				font-size: $fz--large;
				padding: 0 10px;
				line-height: 1.2;
			}
					&__contakt-list {
				align-content: center;
			}
		
			&__principal {
				justify-content: center;
			}		
		}
		.s-deport-container {
			&__wraper {
				width: 100%;
				
				ul,
				ol {
					padding: 5px 5px 5px 15px;
							}
			}
		}
		.s-deport-hotphone {
			&__wraper {
				padding-bottom: 10px;
				:last-child {
					margin-bottom: 0;
				}
			}
			&__item {
				justify-content: center;
				text-align: center;
				margin-bottom: 40px;
			}
			&__info {
				p {
					margin-bottom: 10px;				
				}
			}
		
		}
		.s-accordion {
			&__all {
				label {
					font-size: $fz--xsmall;
					padding: 3px 20px;
				}
			}
			.s-accordion__accordion {
				.s-accordion__trigger {
					.s-accordion__checkbox {
						font-size: $fz--xxsmall;
						i {
							&:before,
							&:after {
								height: 2px;
							}
							&:before {
								transform: translate(-4px, 8px) rotate(45deg);
							}
						}
					}
				}
			}
		}
		/*==========  S-DEPORT END ==========*/
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}