/* ==============================
=            Global            =
============================== */

@import "vars";
@import "fonts";
@import "libs";

/* =====  End of Global  ====== */


/* ==============================
=            Header            =
============================== */

@import "_blocks/site-header";
@import "_blocks/navbar";

/* =====  End of Header  ====== */




::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

section  {
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: #fff;
}




@import "media"; // Always at the end
