/* ==============================
=            Global            =
============================== */

@import "vars";
@import "fonts";
@import "libs";

/* =====  End of Global  ====== */


/* ==============================
=            Header            =
============================== */

@import "_blocks/site-header";
@import "_blocks/navbar";

/* =====  End of Header  ====== */


/* ==============================
=            MY-CONTENT       =
============================== */

@import "_blocks/top-info";
@import "_blocks/s-services";
/* =====  End of my-content  ====== */



::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

section  {
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: #fff;
}

.btn {
	border: none;
	cursor: pointer;
	font-family: $default-font;
	color: #fff;
	text-decoration: none;
	background-color: $accent;
	padding: 12px 35px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	&::after {
		transition: background-color .2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: darken($accent, 50%);
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		left: 0;
		
	}
	&:focus,
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	&:hover {
		background-color: lighten($accent, 5%);
		&::after {
			opacity: .22;
		}
	}
	&:active {
		background-color: darken($accent, 5%);
		&::after {
			opacity: .32;
		}
	}
}


$colors: $olive, $accent2, $accent;  
@for $i from 1 through length($colors) { 
	.carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i}) { 
		background-color:nth($colors, $i); 
	} 
}

@import "media"; // Always at the end
