

@mixin h1-all {
	font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
  font-size: $fz--large;
  line-height: 1;
  font-weight: $bold;
}

@mixin h2 {
	font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
  font-size: $fz--xxlarge;
  line-height: 1;
	font-weight: $light;
	text-transform: uppercase;
  
}

@mixin h3 {
	font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
  font-size: $fz--xmedium;
  line-height: 1.2;
	font-weight: $bold;
	text-transform: uppercase;
}

@mixin h3-tablet {
  font-size: $fz--base;
  line-height: 1.2;
  font-weight: $bold;
  color: $c--black;
  margin: 0;
  padding: 0;
}

@mixin h3-tablet-popup {
  font-size: $fz--large;
  line-height: 1.2;
  font-weight: $bold;
  color: $c--black;
  margin: 0;
  padding: 0;
}

@mixin h4 {
  font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
	font-size: $fz--base;
  line-height: 1;
  font-weight: $bold;
  color: #fff;
  
}