
@mixin link {
	font-family: $default-font;
  color: $text;
  transition: all 0.3s;

  &:hover {
    color: $accent;
    text-decoration: underline;
  }

  &:active {
    color: $green;
		text-decoration: none;
		opacity: 0.6;
  }
}