%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  height: 440px;
  display:inline-block;
  vertical-align:top;
 
  transition:opacity .6s ease, transform .3s ease;
  &.nav-slider{
		width:15%;
		margin-left: -10px;
    
    .swiper-slide{
      cursor:pointer;
      opacity:.4;
			transition:opacity .3s ease;
			  &.swiper-slide-active{
        opacity:1;
      }
      .content{
        width:100%;
        .title{
          font-size:20px;
        }
      }
    }
  }
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
  &.loading{
    opacity:0;
    visibility:hidden;
  }
}

.swiper-slide{
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
  }
  .entity-img{
    display:none;
  }
  .content{
    position:absolute;
    top:10%;
		width:100%;
		height:80%;
		padding-right: 10%;
    padding-left:10%;
		color:#fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		
    .title{
			@include h2;
			margin-bottom: 30px;			
	 }
    .caption{
        font-size: $fz--small;
			
				// Для коректной работы в мозиле закомментировать 7 строк
			
      transform:translateX(50px);
      opacity:0;
      transition:opacity .2s ease, transform .4s ease;
      &.show{
        transform:translateX(0);
        opacity:1;
      }
		}
		.swiper-slide-btn {
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: 10%;
		}

		// .btn {
		// 	@include btn1;
		// }

	
  }
}

[class^="swiper-button-"]{
  width:44px;
  opacity:0;
  visibility:hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev{
  transform:translateX(50px);
}
.swiper-button-next{
  transform:translateX(-50px);
}