.main-footer {
	padding: 3% 0;
	color: #fff;
	font-size: $fz--small;

	&__column {
		margin: 15px 0;
	}
	&__title {
		@include h5;
	}
	&__list {
		text-decoration: none;
		list-style: none;
	}
	&__item {
		font-size: $fz--xxsmall;
	}

}

