
.s-info-materials {
	position: relative;
	z-index: 1;

.info-materials {
	padding: 15px 0;
		
	.info-material {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		align-content: center;
		text-align: center;
		
		&:hover {
			img{
				transform: scale(1.02);
				opacity: 1;
				width: 100%;
				}
		.info-material__title {
				text-decoration: underline;
		}
	}
	&:active {
		img{
			transform: scale(1);
			opacity: .8;
			
			}
	.info-material__title {
			text-decoration: none;
	}
	}
		&__img {
			display: flex;
			width: 100%;
			overflow:hidden;
			padding: 3px;
			img {
				width: 100px;
				height: 100px;
				transition: all .3s ease-out;
				opacity: 0.9;
				}
		}
		&__title {
			font-size: $fz--small;
			color: $text;
			text-transform: uppercase;
			line-height: 1.2;
			font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
			font-weight: $bold;
			margin-top: 15px;
			margin-bottom: 5px;
		}
		&__text {
			font-size: $fz--xsmall;
			line-height: 1.2;
			font-style: italic;
			color: lighten($text, 30%);
		}
	}
	.owl-stage {
		display: flex;
		.owl-item {
			margin-top: 30px;
			img {
				max-width: 100%;
				width: auto;
				margin: auto;
				display: inline-block;
			}
		}
	}	

	.owl-nav {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		font-size: 40px; 
		color: $text;
		transition: opacity .5s ease;
		opacity: .2;
		
		&:hover {
			opacity: .6;
		}
		&:active {
			opacity: .3;
		}
		>button {
			position: absolute;
			top: 80px;
			outline: none;
			padding: 15px;
			
			&.owl-prev {
				left: -40px;
				
			}
			&.owl-next {
				right: -40px;
			}
		}
	}
}
}

// .s-info-materials--deport {
// 	.s-deport-container__wraper {
// 		.info-materials.owl-carousel .owl-nav button.owl-next, 
// 		.info-materials.owl-carousel .owl-nav button.owl-prev, 
// 		.info-materials.owl-carousel button.owl-dot {
// 			font-size: 40px !important; 
// 		}
// 	}
// }