.s-info-materials {
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	
}

.info-materials {
	margin-top: -15px;


	a {
		opacity: 0.8;
		transition: opacity .25s ease;
		&:hover {
			opacity: 1;
		} 
		&:active {
			opacity: 0.5;
		}
	}
	
	.info-material {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		align-content: center;
		text-align: center;
		margin-right: 15px;


		&:hover .info-material__img{
			transition: opacity .5 ease;
			opacity: 1;
		}
		
	
				&__img {
					display: flex;
					width: 100px;
					height: 100px;
					opacity: .8;

					
				}
				&__title {
					font-size: $fz--small;
					text-transform: uppercase;	
					line-height: 1.2;
					font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
					font-weight: $bold;
					margin-top: 15px;
					margin-bottom: 10px;	
				}

				&__text {
					font-size: $fz--xsmall;
					line-height: 1.2;
					font-style: italic;	
					color: lighten($text, 20%);	
					
				}
				&__link {
					font-size: $fz--base;
					margin-bottom: 15px;
				}
	}

	.owl-stage {
		display: flex;
		
		.owl-item {
			margin-top: 30px;
			img {
				max-width: 100%;
				width: auto;
				margin: auto;
				display: inline-block;
			}
		}
	}
	.owl-nav {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
		font-size: 40px;
		color: $text;
		transition: opacity .5s ease;
		opacity: .2;
		
		&:hover {
			opacity: .6;
			
		}
		&:active {
			opacity: .3;
			
		}
		
		>button {
			position: absolute;
			top: 90px;
			outline: none;
			padding: 15px;
				
			&.owl-prev {
				left: -60px;
			
			}
			&.owl-next {
				right: -60px;
			
			}
		}
	}
}


