.s-news {
	text-rendering: optimizeLegibility;

	.s-news-wraper {
		position: relative;
		z-index: 5;

		&::before {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			content: "";
			background-color: #fff;
			z-index: 1;
			opacity: 0.9;
		}
	}

	.cards-news {
		text-align: center;
		display: flex;
		flex-direction: row;
		position: relative;
	}

	.card {
		perspective: 1000;
		position: relative;
		text-align: left;
		transition: transform 0.2s ease-in;
		z-index: 10;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}

		&--big {
			margin-bottom: 0;
		}

		&:hover {
			.card__title,
			.card__title--big,
			.card__title-page {
				text-decoration: underline;
			}

			.card__id {
				background: $accent;
				color: #ffffff;
			}

			.card__image--big::before {
				background-image: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.7));
			}

			.pattern::before {			
				opacity: .3;
				top: 10px;
				right: 10px;
				bottom: 10px;
				left: 10px;
				z-index: 10;
			}

			.overlay::after {
				opacity: .55;
			}
		}

		&__image {
			border: 1px solid #f1f1f1;
			border-bottom: none;
			overflow: hidden;
			position: relative;
			padding: 0;

			img {
				width: 100%;
				height: auto;
				transition: transform .35s ease;
			}

			&--big::before {
				@include dark-gradient;
			}	
		}

		&__info {
			background: #fff;
			padding: 15px 10px;
			border: 1px solid #f1f1f1;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border-top: none;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.02), inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
			position: relative;
			z-index: 99;

			&--big {
				position: absolute;
				bottom: 0;
				background: transparent;
				border: transparent;
				box-shadow: none;
				padding: 20px;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				align-content: flex-start;
				height: 100%;
			}
		}

		&__id {
			font-size: $fz--min;
			text-transform: uppercase;
			border: 1px solid $accent;
			padding: 1px 5px;
			color: lighten($text, 20%);

			&--big {
				color: #fff;
				border: 1px solid #fff;
				text-shadow: rgba(0, 0, 0, 0.8) 0px 2px 2px;
			}
		}

		&__data {
			font-style: italic;
			font-size: $fz--xsmall;
			color: lighten($text, 20%);

			&--big {
				color: #fff;
				text-shadow: rgba(0, 0, 0, 0.8) 0px 2px 2px;
				font-size: $fz--small;
			}
		}

		&__title,
		&__title-page {
			@include h5;
			padding-right: 15px;
			padding-top: 12px;
			color: $text;
			padding-bottom: 0;
			width: 100%;
		}

		&__title--big {
			@include h5;
			padding-right: 15px;
			padding-top: 12px;
			color: #fff;
			text-shadow: rgba(0, 0, 0, 0.8) 0px 2px 2px;
			font-size: $fz--xmedium;
		}

		&__text {
			color: #fff;
			line-height: 1.3;
			text-shadow: rgba(0, 0, 0, 0.8) 0px 2px 2px;
			font-size: $fz--medium;
		}
	}
}

// Для страницы списка новостей
.s-news-list {
	&__column {
		flex-direction: row;

		.cards-news {
			flex-direction: column;
		}
	}

	.card {
		padding-left: 0;
		border-bottom: 1px solid rgba($text, .2);
		padding: 20px;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}

		&__info {
			border: transparent;
			box-shadow: none;
			padding: 0 10px;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
			margin: 10px 0;
		}

		&__id {
			margin-bottom: 5px;
		}

		&__image {
			border: none;
			margin: 10px 0;
			padding: 0 10px 0 0;
		}

		&__link {
			display: flex;
			align-items: flex-start;
		}

		&__text {
			color: rgba($text, 0.7);
			line-height: 1.3;
			text-shadow: none;
			font-size: $fz--base;
			order: 4;
		}
	}
}

.s-news-page {
	.breadcrumb-item {
		background-color: rgba(37, 48, 49, .3);
		padding: 5px;

		&:last-child {
			padding-right: 25px;
		}

		&:first-child {
			padding-left: 25px;
		}
	}

	.active {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 25px;
			width: 70%;
			height: 3px;
			background-color: $accent2;
		}
	}

	.article-body {
		&__top {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.card__info {
			width: 70%;
			padding-left: 0;
			padding-right: 0;
		}

		.card__title-page {
			font-size: $fz--large;
		}

		.card__image {
			width: 70%;
		}

		&__content {
			display: flex;
			justify-content: center;
		}

		&__content-wraper {
			width: 60%;
		}

		p {
			margin: 15px 0;
			line-height: 1.6;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			line-height: 1.2;
		}

		blockquote {
			text-align: center;
			padding: $gutter*2 0;
			margin: $gutter*2 0;
			font-size: $fz--xmedium;
			color: #000;
			border-top: rgba($text, .3) 1px solid;
			border-bottom: rgba($text, .3) 1px solid;
		}

		ul,
		ol {
			padding-left: 25px;

			li {
				margin: 10px 0;
			}
		}

		.video {
			margin: $gutter 0;
			padding-bottom: 56.25%;
			padding-top: 25px;
			height: 0;

			iframe {
				border: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
	}
}

// Для страницы новости