.s-news {
	margin-top: 30px;
	margin-bottom: 30px;
	color: $text;
	text-rendering: optimizeLegibility;
	

	.section-title-wraper {
		.section-title {
			margin-right: 20px;
		}
		.btn-link {
			display: inline-block;
			text-transform: uppercase;
			font-size: $fz--xsmall;
			opacity: 0.88;
			&:hover {
				opacity: 1;
			}
		}
	}
	
	.s-news-wraper {
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		z-index: 5;
	
		
		&::before {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			content: "";
			background-color: #fff;
			z-index: 1;
			opacity: 0.9;
		}
	}
	
	.cards-news {
		text-align: center;
		display: flex;
		flex-direction: row;
		position: relative;
	
	}
	.card {
		perspective: 1000;
		position: relative;
		text-align: left;
		transition: all 0.3s 0s ease-in;
		z-index: 10;
		margin-bottom: 20px;
		&--big {
			margin-bottom: 0;
		}
		
		&:hover {
			img{
			transform: scale(1.05);
			}
			.card__image::before {
				opacity: .1;
				z-index: 10;
			}
			.card__image--big::before{
				opacity: .4;
			}
	}
				
		&__image {
			border: 1px solid #f1f1f1;
			border-bottom: none;
			overflow:hidden;
			position: relative;
			img {
				width: 100%;
				transition: all .5s ease-out;
				}
				&::before {
					@include darken;
				}
			}
		

		&__info {
			background: #fff;
			padding: 15px 10px ;
			border: 1px solid #f1f1f1;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			border-top: none;
			box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.2 );
			position: relative;
			z-index: 99;
			
			&--big {
				position: absolute;
				bottom: 0;
				background: transparent;
				border: transparent;
				box-shadow: none;
				padding: 10px 15px;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				align-content: flex-start;
				height: 100%;
			}
		}
		
			&__id {
				font-size: $fz--min;
				text-transform: uppercase;
				border: 1px solid $accent;
				padding: 1px 5px;
				color: lighten($text, 20%);
				&--big {
					color: #fff;
					border: 1px solid #fff;
					text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
				}
			}

			&__data {
				font-style: italic;
				font-size: $fz--xsmall;
				color: lighten($text, 20%);
				&--big {
					color: #fff;
					text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
					font-size: $fz--small;
				}
			}

			&__title {
				@include h5;
				padding-right: 15px;
				padding-top: 12px;
				color: $text;
				padding-bottom: 0;
				width: 100%;
				}

				&__title--big {
					@include h5;
					padding-right: 15px;
					padding-top: 12px;
					color: #fff;
					text-shadow: rgba(0, 0, 0, 1) 0px 1px 1px;
					font-size: $fz--xmedium;
					
				}
			&__text {
				color: #fff;
				line-height: 1.3;
				text-shadow: rgba(0, 0, 0, 1) 0px 2px 2px;
				font-size: $fz--medium;
			}
	}


}