
// colour stuff

.section-title-wraper {
	.section-title {
		margin-right: 20px;
	}
	.btn-link{
		display: inline-block;
		text-transform: uppercase;
		font-size: $fz--xsmall;	
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	
	}
	
	
}


.s-news {
	margin-top: 30px;
	margin-bottom: 30px;
  color: $text;
	text-rendering: optimizeLegibility;

	.s-news-wraper {
		padding-top: 50px;
		padding-bottom: 0;
		position: relative;
		z-index: 5;
		max-height: 450px;
		&::before {
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			content: "";
			background-color: #fff;
			z-index: 1;
			opacity: 0.85;
		}
	}

	
	a.btn-card {
  background: $accent;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: $white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.btn-card:hover {
  background: lighten($accent,5%);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.btn-card:active {
  background: darken($accent,10%);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  text-align: center;
}

div.card {

  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
	z-index: 1;
	
	&:hover {
		transform: scale(1.02) !important;
	}

  img {
    max-width: 100%;
  }

  div.card-title {
    // background: #fff;
   	padding: 10px 0 10px 0;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      bottom: 5px;
      width: 32px;
      
      span {
        background: $white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h5 {
			@include h5;
			padding-right: 15px;
			padding-top: 8px;
      
				 }
				 .card-data {
					 font-style: italic;
					 color: lighten($text, 20%);
				 }
  }

  .card-description {
		padding: 10px 3px 5px 8px;
    position: relative;
		font-size: $fz--small;
		line-height: 1.2;
		margin-bottom: -5px;
  }

  .card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
		text-align: center;
		padding-bottom: 10px;
		padding-top: 5px;
		
		.btn-link {
			display: inline-block;
			padding: 10px 20px;
					
		}
  }
  
  .card-flap {
    background: darken($white,15);
		bottom: 0;
		box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.075);
		
    transform-origin: top;
		transform: rotateX(-87deg);
		opacity: 0;
	
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
		z-index: -1;
	
		
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
		z-index: -2;
		text-align: center;
	
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92) ;
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    .toggle-info {
      background: $salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: $white;
		transform: rotateX(0deg);
		opacity: 1;
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}
}


