.s-region {
	justify-content: space-between;
	.region__map {
		position: relative;
		text-align: center;
		.region__map-all {
			position: absolute;
			top: 0;
			left:0;
			height: 100%;
			width: 100%;
			}
		.map-region {
			fill: #c6c6c6;
			opacity:0;
			transition: opacity 0.3s ease;
			&:hover {
				fill: lighten($accent, 40%);
				opacity: 0.4;
			}
			&:active {
				fill: lighten($accent, 50%);
				opacity: 0.3;
			}
			&--active {
				fill: lighten($accent, 20%);
				opacity: 0.4;
			}
		}
	}
	}
	
