@import "_mixins/h";

.site-header {

  &__top {
		min-height: 275px;
	}

	&__wraper {
		min-height: 200px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	&__left {
		border: 2px solid black;
		display: flex;
	}

	&__left h1 {
		@include h1-all;
	}

	&__right {
		display: flex;
		border: 2px solid black;
	}

	&__logo {
		width: 100px;
		height: auto;
	}

	&__name {
		margin-left: 15px;
	}
}


