
.site-header {
	&__top {
		min-height: 220px;
		position: relative;
		margin-bottom: 0;
	}
	&__line {
		border-bottom: 1px solid $gray-light;
	}
	&__wraper {
		padding-top: 25px;
		padding-bottom: 25px;
	
	}
	&__left {
		display: flex;
	}
	&__left h1 {
		padding: 8px 20px 0 0;
		@include h1;
	}
	&__right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__logo {
		margin-top: 10px;
		width: 90px;
		height: auto;
	}
	&__name {
		margin-left: 15px;
	}
	&__world,
	&__sertif {
		opacity: 0.7;
		&:hover {
			opacity: 1;
			transition: all 0.2s;
		}
		&:active {
			opacity: 0.5;
			transition: all 0.2s;
		}
	}
	&__search {
		width: 100%;
		position: relative;
		
		
		&::before{
				padding-top: 2px;
				font-family: FA;
				font-size: $fz--base;
				position: absolute;
        text-align: center;
        content: "\f002";
				color: $white;
				width: 35px;
				height: 33px;
				cursor: pointer;
				background: $gray;
				opacity: 0.5;
				top: 5%;
				right: 2px;
			}
	}
	&__search-input {
		width: 100%;
		padding: 6px 45px 7px 15px;
		box-sizing: border-box;
		background: $white;
		font-family: $default-font;
		font-size: $fz--xsmall;
		color: $text;
		outline: none;
		border: 2px solid lighten($accent,50%);
	
		&:focus {
			border: 2px solid $accent;
			transition: all 0.5s;
		}
	}
	/* оформляем кнопку отправки */
	&__search-submit {
		position: absolute;
		top: 2px;
		right: 2px;
		width: 35px;
		height: 33px;
		cursor: pointer;
		opacity: 0;
		z-index: 99;
		background: $gray;
		&:hover{
			opacity: 0.2;
		}

		
	}
	&__bottom {
		padding-top: 5px;
		padding-left: 22px;
		justify-content: space-around;
		min-height: 70px;
		position: relative; // align-items: center;
		}

	&__info {
		padding: 12px 10px 17px 20px;
		line-height: 1.4;
		position: relative;
		font-size: 14px;
	}

	&__info a {
		@include link;
	}
}

.fa-eye {
	font-size: $fz--xmedium;
	margin-top: 10px;
	color: gray;
	opacity: 0.7;
	&:hover {
		opacity: 1;
			transition: all 0.3s;
	}
	&:active {
		opacity: 0.5;
		transition: all 0.2s;
		
	}
}

.fa-search{
	font-size: $fz--large;
	position: absolute;
	top: 0;
	left: 0;
	color: $gold;
	z-index: 100;
}

.fa-map-marker,
.fa-comments,
.fa-clock {
	font-size: $fz--xbase;
	position: absolute;
	top: 15px;
	left: -10px;
	color: $gold;
	}
.fa-map-marker {
	left: -5px;
}
