@import "_mixins/h";

.top-info {
	margin-top: 40px;

}

.console {
	flex-direction: column;
	&__item {
		min-height: 65px;
		margin-bottom: 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 70px;
		padding-right: 10px;
		background-size: contain;
		transition: all .2s ease;
		&:hover {
			opacity: 0.9;
			box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 2px;
		}
		&:active {
			opacity: 1;
			box-shadow: none;
		}
	}
	&__name {
		font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
		font-size: $fz--base;
		line-height: 1.2;
		color: #fff;
	}
	&__link {
		text-decoration: none;
		&:hover .console__name {
			text-decoration: underline;
			outline: none;
		}		
	}
}

%transition_all_03s {
	transition: all .3s ease;
}

%backface_visibility_hidden {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.swiper-container {
	width: 100%;
	height: 440px;
	display: inline-block;
	vertical-align: top;
	transition: all .6s ease, transform .3s ease;
	position: relative;
	z-index: 5;
	.swiper-slide {
		visibility: hidden;
	}
	.swiper-slide-active {
		visibility: visible;
	}
	&:hover {
		.slide-bgimg::before {
			background-image: linear-gradient(rgba(#000, 0.2), rgba(#000, 0.6));
		}
	}
	&.nav-slider {
		padding: 0 0 0 15px;
		.swiper-slide {
			cursor: pointer;
			opacity: .4;
			visibility: visible;
			transition: opacity .3s ease;
			&.swiper-slide-active {
				opacity: 1;
			}
			.content {
				width: 100%;
				.title {
					font-size: 20px;
				}
			}
		}
	}
	&:hover {
		.swiper-button-prev,
		.swiper-button-next {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}
	}
	&.loading {
		opacity: 0;
		visibility: hidden;
	}
}

.swiper-slide {
	overflow: hidden;
	@extend %backface_visibility_hidden;
	.slide-bgimg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
				
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: linear-gradient(rgba(#000, 0.1), rgba(#000, 0.5));
			z-index: -1;
			opacity: .99;
			transition: opacity 1s ease;
		}
	}
	.entity-img {
		display: none;
	}
	.content {
		position: absolute;
		top: 10%;
		width: 100%;
		height: 80%;
		padding-right: 10%;
		padding-left: 10%;
		color: $text--white;		
		text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	
		&:hover .title::before,
		&:hover .caption::before {
			opacity: 0.2;
			transition: opacity .3s ease;
		}
		&:hover .title::after {
			opacity: 1;
			transition: opacity .6s ease;
		}
		.title {
			@include h4;
			margin-bottom: 30px;
			position: relative;
			z-index: 50;
			display: inline-block;
			
			&:after {
				position: absolute;
				bottom: -8px;
				left: 0;
				width: 90%;
				height: 2px;
				content: "";
				background-color: #fff;
				z-index: -1;
				opacity: 0;
			}
		}
		.title--min {
			font-size: $fz--medium;
			font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
			line-height: 1;
			text-transform: uppercase;
			font-weight: $bold;
		}
		.caption {
			font-size: $fz--xbase; // Для коректной работы в мозиле закомментировать 7 строк
			transform: translateX(50px);
			opacity: 0;
			transition: opacity .2s ease, transform .4s ease;
			line-height: 1.4;
			
			&.show {
				transform: translateX(0);
				opacity: 1;
			}
		}
		.swiper-slide-btn {
			display: inline-block;
			position: absolute;
			bottom: 0;
			right: 10%;
			text-shadow: none;
			z-index: 99;
		}
	}
}

[class^="swiper-button-"] {
	width: 44px;
	opacity: 0;
	visibility: hidden;
	@extend %transition_all_03s;
}

.swiper-button-prev {
	transform: translateX(50px);
}

.swiper-button-next {
	transform: translateX(-50px);
}