@import "_mixins/h";
@import "_mixins/links";
.top-info {
	margin-top: 25px;
}

.console {
	flex-direction: column;
	&__item {
		height: 70px;
		margin-bottom: 15px;
		display: flex;
		justify-content:flex-start;
		align-items: center;
		padding-left: 80px;
		padding-right: 15px;
		background-size: contain;
	}
	&__name {
		font-family: "RobotoCondensedRegular-example", "PTSansRegular-example", sans-serif;
		font-size: $fz--base;
		line-height: 1.2;
		color: #fff;
	}

	&__link {
		text-decoration: none;
		transition: all 0.3s;
	
		&:hover .console__name {
			text-decoration: underline;
		}
	}
}